.card {
  margin: 10px;
  width: 254px;

  .card-title {
    font-size: 1.2rem;
    width: 230px;
    text-transform: uppercase;
  }

  .rating {
    background: #4bd04b;
    border-radius: 5px;
    width: 42px !important;
    color: #ffffff;
    text-align: center;
    line-height: 20px;
  }

  .inline-display {
    display: inline-flex;
  }

  .prim {
    color: #fff;
    border-color: #2989ef;
    background-color: #2989ef;
  }
  .prim:hover {
    color: #fff;
    background-color: #0069d9;
    border-color: #0062cc;
  }
}
